﻿@using MVC_09_09_16.Models
@using PagedList.Mvc
@model PagedList.IPagedList<MVC_09_09_16.Models.Person>

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Lista de personas";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Persons", FormMethod.Get, new {@class = "form-inline"}))
{
    @Html.Label("search","Nombre o Identificacion: ", new {@class = "control-label"})
    @Html.TextBox("search",ViewBag.CurrentSearch as string, new {@class = "form-control"})
    <input type="submit" value="Buscar" class="btn btn-default"/>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Nombre)*@
            @Html.ActionLink("Nombre", "Index", new { sort = ViewBag.NameSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Apellido)*@
            @Html.ActionLink("Apellido", "Index", new { sort = ViewBag.LastNameSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Identificacion)*@
            @Html.ActionLink("Tipo de identificacion", "Index", new { sort = ViewBag.TypeIdentificationSort, search = ViewBag.CurrentSearch })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Identificacion)*@
            @Html.ActionLink("Identificacion", "Index", new { sort = ViewBag.IdentificationSort, search = ViewBag.CurrentSearch })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeIdentifications.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identification)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new {page, sort = ViewBag.CurrentSort, search = ViewBag.CurrentSearch}))